html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
        url(/fonts/Montserrat-Regular.ttf),
}

html,
body,
.wrapper {
    height: 100%;
}

body {
    min-width: 320px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
}

.container {
    max-width: 1140px;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.header, 
.footer {
    flex-shrink: 0;
}

li {
    list-style: none;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover, :focus{
    color: #00BF78;;
}

.header {
    background-image: url(/img/bg-image.png); 
    position: relative;
    background-color: #F8F6F7;
    
    margin-bottom: 100px;
}

.header .container {
    position: relative;
    overflow: hidden;
    padding: 30px 0 130px;
    height: 597px;
}

.header__top {
    display: flex;
    max-width: 1110px;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 3;
}

.header__logo {
    margin: 0 0 16px 2px;
    padding: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

/* Навигация */

.header__nav .navigation__list {
    padding: 6px 0 0;
    margin: 0;
}

.navigation__item {
    padding: 0;
    margin: auto 0;
    display: inline-block;
    
}

.navigation__link {
    display: block;
    margin-right: 28px;
}

.navigation__item:nth-last-child(1) {
    margin-right: 0;
}

.header__nav .navigation__link {
    font-size: 14px;
    line-height: 17px;
}

/* header content */

.header .hero {
    position: relative;
    z-index: 2;   
    max-width: 486px;
    top: 195px;
}

.header__phone {
    display: flex;
    flex-direction: column;
    text-align: right;
    
}

.header-phone__number {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 14px;
    padding: 0;
}

.header-phone__schedule {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 11px;
    line-height: 14px;
}

.hero__subtitle {
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
}

.social--vertical {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.header__girl {
    position: absolute;
    right: 90px;
    bottom: 0;
    z-index: 1;
    opacity: 1;
    transition: 0.3s opacity;
}

.header-girl {
    max-width: 524px;
    width: 100%;
}

.header-girl__img {
    position: relative;
    z-index: 1;
    display: block;
    bottom: 0;
}
.header__girl::before{
    content: '';
    width: 472px;
    height: 462px;
    display: block;
    background-color: #FB9475;
    border-radius: 50%;
    position: absolute;
    bottom: -110px;
    right: 0;
    
}

.header__hamb {
    display: none;
}

/* Adaptive header */

/* Large Devices, Wide Screens */ 
@media only screen and (max-width: 1280px) { 
} 
/* Medium Devices, Desktops */ 
@media only screen and (max-width: 992px) { 
} 
/* Small Devices, Tablets */ 
@media only screen and (max-width: 768px) { 
    .header__girl {
        opacity: 0.5;
    }

    .header__hamb {
        display: block;
    }
    
    .header__nav {
        display: none;
    }
} 
/* Extra Small Devices, Phones */ 
@media only screen and (max-width: 480px) { 
} 
/* Custom, iPhone Retina */ 
@media only screen and (max-width: 320px) { 
}
/* Buttons */

.header__hamb {
    width: 35px;
    height: 20px;
    position: relative;
    outline: none;
    border: none;
}

.hamb__inner {
    position: absolute;
    background-color: grey;
    width: 100%;
    height: 4px;
    left: 0;
    top: 8px;
    border-radius: 3px;
}

.header__hamb::before,
.header__hamb::after {
    position: absolute;
    content: '';
    background-color: grey;
    width: 100%;
    height: 4px;
    left: 0;
    border-radius: 3px;
}

.header__hamb::before {
    top: 0;
}

.header__hamb::after {
    bottom: 0;
}

.btn {
    display: inline-block;
    text-align: center;
    border: none;
    font: inherit;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    background: #FB9475;
    color: #FFFFFF;
    cursor: pointer;
}

.btn--large {
    padding: 1.2em 2.2em;
    border-radius: 24px;
    font-size: 14px;
}

.btn--small {
    font-size: 12px;
    line-height: 14px;
    border-radius: 17px;
    max-width: 112px;
    padding: 10px 20px;
}

/* Headings */

h1, 
h2,
h3 {
    margin: 0;
}

h1 {
    max-width: 486px;
    width: 100%;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 16px;
}

.section__title {
    margin: 0;
    margin-bottom: 32px;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
}

.section__title--small {
    padding: 0;
    margin-bottom: 35px;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
}

h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

/* Main */
/* About */

.section {
    padding: 0;
    margin-bottom: 100px;
}

.section--grey {
    background-color: #F8F6F7;
}

.about__description {
    font-size: 20px;
    line-height: 32px;
}

.showmore {
    cursor: pointer;
}

.showmore summary {
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    color: #278AFF;
    list-style: none;
    outline: none;
}

.showmore > summary::-webkit-details-marker {
    display: none;
}

.video {
    max-width: 442px;
    width: 100%;
    height: 295px;
    border: none;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.about__video {
    position: relative;
}

.video:hover::before {
    opacity: 0.5;
}

.video:hover::after {
    opacity: 1;
}

.video::after,
.video::before {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    transition: .15s opacity;
}
.video::before{
    content: '';
    background-color: black;
    z-index: 1;
}

.video::after {
    content: 'Короткое видео о нас';
    background: url(/img/play-btn.svg) no-repeat;
    background-position: 50% 30%;
    font-weight: 500;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin: auto;

    align-items: center;
    justify-content: center;
}

/* Advantages */

.advantage {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantage__text, 
.advantage__title {
    text-align: center;
}

.advantage__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

.advantage__icon {
    order: -1;
    margin-bottom: 32px;
}

/* Services */

.services-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services-item__img {
    order: -1;
    max-height: 180px;
    max-width: 350px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.services-item__description {
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
}

/* Prices */

.pricelist-nav {
    display: flex;
}

.prices__nav {
    padding: 0;
    margin: 0;
    margin-bottom: 57px;
}

.pricelist-nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.pricelist-nav__link:active,
.pricelist-nav__link:visited {
    border-bottom: 2px solid #00BF78;;
}

.pricelist-nav__item:not(:last-of-type){
    padding-right: 28px;
}

.prices__list {
    margin: 0;
    padding: 0;
    width: 100%; 
    max-width: 1015px;
}

.services-price__item {
    display: flex;
    max-width: 444px;
    width: 100%;
    justify-content: space-between;
}

.services-price__cost {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #00BF78;
}

/* Мasters */

.masters__title {
    padding-top: 80px;
}

.masters--wrapper {
    padding-bottom: 80px;
}
.master-card {
    display: flex;
    flex-direction: column;
}

.master-card__photo {
    height: 300px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.master-card__photo:hover::before {
    opacity: 0.5;
}

.master-card__photo:hover::after {
    opacity: 1;
}

.master-card__photo::after,
.master-card__photo::before {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    transition: .15s opacity;
}
.master-card__photo::before{
    content: '';
    background-color: black;
    z-index: 1;
}

.master-card__photo::after {
    content: 'Записаться к мастеру';
    font-weight: 500;
    color: white;
    display: flex;
    max-width: 120px;
    margin: auto;
   
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
}

.services-price__description,
.master-card__description {
    margin: 0;
}

.master-card__name,
.services-price__name {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

.services-price__details, 
.master-card__type {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 20px;
}


.master-card__experience {
    margin: 0;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

/* Футер */

.footer__copyright {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 0;
    font-size: 12px;
    line-height: 15px;

}
.copyright__company {
    margin: 0;
    margin-bottom: 8px;
}


.copyright__politics {
    color: #278AFF;
    text-decoration-line: underline;
}

.footer__nav {
    padding: 0;
    margin: 32px 0;
    display: flex;
    justify-content: space-between;
}

.footer__nav .navigation__link {
    font-size: 12px;
    line-height: 15px;
}