.carousel-btn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    outline: none;
    border: none;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        background-color: #F8F6F7;
    }

    &--prev {
        background-image: url(../img/prev.svg);
    }

    &--next {
        background-image: url(../img/next.svg);
    }
}

.carousel {
    &__photo {
        height: 338px;
        width: auto;
        object-fit: cover;
        border-radius: 8px;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}