.masters__title {
    padding-top: 80px;
}

.section.masters--wrapper {
    padding-bottom: 80px;
}
.master-card {
    @include flex-column();

    &__photo {
        height: 300px;
        margin-bottom: 20px;
        border-radius: 8px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

    &__photo:hover::before {
        opacity: 0.5;
    }

    &__photo:hover::after {
        opacity: 1;
    }

    &__photo::after,
    &__photo::before {
        @include absolute-center();
        opacity: 0;
        transition: .15s opacity;
    }

    &__photo::before{
        content: '';
        background-color: black;
        z-index: 1;
    }

    &__photo::after {
        content: 'Записаться к мастеру';
        font-weight: 500;
        color: white;
        display: flex;
        max-width: 120px;
        margin: auto;
    
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 2;
    }

    &__experience {
        margin: 0;
        @include text (12px, 300, 15px);
        text-transform: uppercase;
    }
}