.form {

    @include flex-column();
    max-width: 445px;
    width: max-content;
    padding: 40px 35px;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

    &__title {
        @include text (18px, 600, 14px);
    }

    &__subtitle {
        @include text (14px, normal, 20px);
    }

    &__input {
        height: 44px;
        border: 1px solid #D8D8D8;
        border-radius: 4px;
        margin-bottom: 20px;
    }

    &__input[placeholder] {
        @include text (14px, normal, 14px);
        color: #A0A0A0;
        padding-left: 10px;
    }
}

.btn-text {
    @include text (12px, 300, 15px);
    
    & a {
         @include blue-link();    
    }
}