
// Header

.header {
    @include respond-to ('small') {
        position: relative;
    }

    @include respond-to ('extra-small') {
        width: 100vw;
        height: 100vh;
        position: relative;
    }

    .container {
        @include respond-to ('large') {
            height: 100vh;
            margin: 0 auto; 
        }

        @include respond-to ('medium') {
            height: 100vh;
            margin: 0 4%;
        }

        @include respond-to ('small') {
            height: 100vh;
            margin: 0;
        }

        @include respond-to ('extra-small') {
            height: 100vh;
        }
    }

    &__top {
        @include respond-to ('large') {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0 5%;
        }

        @include respond-to ('medium') {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 30px;
            margin: 0 5%;
        }

        @include respond-to ('small') {
            display: flex;
            flex-wrap: wrap;
            margin: 10px 30px;
            margin-bottom: 140px;
            justify-content: space-between;
            align-items: flex-end;
        }

        @include respond-to ('extra-small') {
            display: inline-flex;
            flex-wrap: wrap;
            gap: 20px;
            margin: 10px 30px 50px;
            justify-content: space-between;
            align-items: flex-end;
        }
        
    }

    &__hamb {
        @include respond-to ('small') {
            display: inline-block;
            cursor: pointer;
            margin: 10px 0 0 20px;
            align-self: flex-start;
        }

        @include respond-to ('extra-small') {
            padding: 0;
            position: absolute;
            top: 0;
            display: inline-block;
            margin: 4px 5px 0 0;
            align-self: center;
        }
    }

    &__logo {
        @include respond-to ('small') {
            font-size: 1.8em;
            margin: 0;
        }

        @include respond-to ('extra-small') {
            font-size: 1.5em;
            margin: 0 auto;
        }
    }

    &__nav {
        @include respond-to ('small') {
            display: none;
        }

        .navigation__link {
            @include respond-to ('large') {
                padding: 0.5em;
            }

            @include respond-to ('medium') {
                @include text (1.1em, normal, 17px);
            }
        }
    }

    &__phone {
        @include respond-to ('extra-small') {
            font-size: 1.8em;
            margin: 0;
        }
    }

    &__hero {
        @include respond-to ('large') {
            left: 5%;
            top: 25%;
        }

        @include respond-to ('small') {
            position: static;
            text-align: center;
            max-width: none;
        }

        @include respond-to ('extra-small') {
            position: static;
            text-align: center;
            margin: 0 10px;
        }

            .hero__title {
                @include respond-to ('small') {
                    display: inline-block;
                    font-size: 2.25em;
                    text-align: center;
                    line-height: 1.2em;
                }

                @include respond-to ('extra-small') {
                    display: inline-block;
                    font-size: 2.25em;
                    text-align: center;
                    line-height: 1em;
                }
            }
                
            .hero__subtitle {
                @include respond-to ('small') {
                    text-align: center;
                    white-space: nowrap;
                }

                @include respond-to ('extra-small') {
                        white-space: nowrap;
                }
            }

            .hero__btn {
                @include respond-to ('extra-small') {
                    white-space: nowrap;
                }

                @include respond-to ('custom') {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-48%);
                }
            }
    }

    &__girl {
        @include respond-to ('medium') {
            opacity: 0.5;
        }

        @include respond-to ('small') {
            display: none;
        }
    }

    &__social {
        @include respond-to ('large') {
            right: 5%;
        }

        .social {
            &__link {
                @include respond-to ('large') {
                    padding: 0.5em;
                    margin: -0.5em;
                }
            }

            &__item:not(:nth-last-of-type(1)) {
                @include respond-to ('small') {
                    margin-right: 5vh;
                }
            }
        }
    }

    .social--vertical {
        @include respond-to ('medium') {
            right: 8%;
            z-index: 2;
        }

        @include respond-to ('small') {
            display: flex;
            position: absolute;
            left: 50%;
            transform: translateX(-28%);
            top: 80%;
            bottom: 0;
            padding: 0;
        }

        @include respond-to ('extra-small') {
            transform: translateX(-45%);
            top: 85%;
        }

        @include respond-to ('custom') {
            top: 80%;
            transform: translateX(-40%);
        }
    }
}

// Sections

.section {
    @include respond-to ('small') {
        padding: 0 5vw;
    }

    &__title,
    &__subtitle {
        @include respond-to ('small') {
            text-align: center;
        }
    }
}

// About 

.about {
    &__showmore {
        @include respond-to ('small') {
            padding-bottom: 2vh;
        }
    }

    &__video {
        @include respond-to ('small') {
            align-self: center;
        }
    }
}

// Services

.services {
    &-item {
        @include respond-to ('small') {
            margin-bottom: 5%;
        }
    }
}

.pricelist-nav {
    &__link {
        @include respond-to ('medium') {
            margin-bottom: 1rem;
        }
    }
}

// Masters

.master-card {
    &__experience {
        margin-bottom: 0.5rem;
    }
}

// Carousel 

.carousel {
    &__photo {
        @include respond-to ('small') {
            height: 210px;
            width: auto;
        }

        @include respond-to ('extra-small') {
            height: 160px;
            width: auto;
        }

        @include respond-to ('custom') {
            height: 145px;
            width: auto;
        }
    }
}