@import '_libs';
@import 'abstracts/_index.scss';
@import 'components/_index.scss';
@import 'layout/_index.scss';
@import 'pages/_index.scss';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
        url(/fonts/Montserrat-Regular.ttf),
}

html,
body,
.wrapper {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    min-width: 320px;
    font-family: "Montserrat", sans-serif;
    @include text (16px, normal, 26px);
    color: $color-main;
}

.container {
    max-width: 1140px;
    width: 100%;
}

.wrapper {
    @include flex-column();
}

.main {
    flex: 1;
}

.header, 
.footer {
    flex-shrink: 0;
}

.visually-hidden {
    display: none;
}

li {
    list-style: none;
}

a {
    color: $color-main;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $green;
    }
}

h1, 
h2,
h3 {
    margin: 0;
}

.section__title {
    margin: 0;
    margin-bottom: 32px;
    @include text (48px, bold, 59px);
}

.section__title--small {
    padding: 0;
    margin-bottom: 35px;
    @include text (36px, bold, 44px);
}

h3 {
    @include text (18px, 600, 22px);
}

.section {
    padding: 0;
    margin-bottom: 100px;

    &__subtitle {
        line-height: 20px;
    }
}

.section--grey {
    background-color: $grey;
}

@import '_media';